/* ROOT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

.font {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* UITILITY */
.container {
  max-width: 1100px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.no-size {
  margin: 0;
  padding: 0;
}

.input-group {
  margin-bottom: 1rem;
}
.input-group input {
  width: 50px;
}

.time {
  display: flex;
  margin-top: 0.5rem;
}

.btn {
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 5px;
  outline: none;
}
.btn-circle {
  height: 100px;
  width: 100px;
  line-height: 100px;
  border: none;
  outline: none;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.btn-primary {
  background-color: #f070a1;
}
.btn-secondary {
  background-color: #12c998;
}
.btn-dark {
  background-color: #303030;
  color: white;
}

.combo-excercise {
  margin-bottom: 1rem;
}
.combo-excercise li {
  padding: 0.25rem;
  border: 0.5px solid #606060;
  margin-top: -0.6px;
}
.combo-excercise li:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.combo-excercise li:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.grid-example {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  margin-bottom: 0.5rem;
}
.grid-example p {
  padding: 0.2rem;
}
.grid-example p:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.grid-example p:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.grid-group-1 {
  background-color: #aee2ff;
}
.grid-group-2 {
  background-color: #ffe8ae;
}
.rest {
  background-color: #d2ffae;
}

.group-lead {
  margin-bottom: 0.25rem;
  transform: translateX(10px);
  font-size: 0.9rem;
}

.light {
  color: #606060;
}

/* MAIN */
#nav {
  background-color: #4d6d9a;
  color: white;
  padding: 0 1.5rem;
  font-size: 1.25rem;
  font-weight: 1.25rem;
  height: 10vh;
  line-height: 10vh;
}

#helper {
  display: flex;
  align-items: center;
  margin-bottom: -0.4rem;
}
#helper p {
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

#example {
  background-color: whitesmoke;
  margin-left: 1rem;
  border-left: 3px solid #f070a1;
  display: none;
}

#view-example-btn {
  margin-top: 0.25rem;
}

#setup input {
  border: none;
  border-bottom: 1px solid #606060;
  padding-left: 0.25rem;
}

.time label {
  font-size: 0.85rem;
  margin: 0 1rem 0 0.1rem;
}

#start-btn {
  margin-top: 3rem;
}

#main-footer {
  text-align: center;
  background-color: #303030;
  color: white;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* CLOCK */
#clock {
  width: 0vw;
  height: 0vh;
  background-color: #f070a1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.5s, width 0.5s, background 1s;
  display: none;
}

#time-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #303030;
  font-size: 6rem;
}

#excercise-header {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#exit-clock::after,
#exit-clock {
  position: absolute;
  top: 4rem;
  left: 2.5rem;
  width: 25px;
  height: 2px;
  background-color: #303030;
  transform: rotate(45deg);
}

#exit-clock::after {
  content: '';
  top: 0;
  left: 0;
  transform: rotate(90deg);
}

#clock > * {
  display: none;
}
